doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(type='text/javascript', src='http://code.jquery.com/jquery-2.0.3.js')
    script(type='text/javascript', src='/javascripts/cssrule.js')
    script(type='text/javascript', src='/javascripts/jquery.rulecss.js')
