<!DOCTYPE html>
<html>
<head>
    <title>test</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.js"></script>
    <script type="text/javascript" src='/javascripts/cssrule.js'></script>
    <script type="text/javascript" src='/javascripts/jquery.rulecss.js'></script>
</head>
<body>
    <button class="click">실행</button>
    <h1>H1입니다.</h1>
    <p class="test">바이 짜이찌엔</p>
    <button class="btn">사요나라</button>
<script>
    $(function(){
        $('button').rcss({
            'border' : '2px solid #aaa',
            'font-size' : '15px'
        });
        var handle = 0;
        $('.click').on('click', function(){
            if(handle % 2 === 0){
                $('.btn').rcss('border-radius', '10px');
                $('h1, .test').rcss({
                    color : 'red',
                    marginLeft : '20px'
                });
            }else{
                $('.btn').rcss(null);
                $('h1, .test').rcss(null);
            }
            handle++;
        });
    });
</script>
</body>
</html>